@media screen and (max-width: 1000px) {
    .white_card{
        width: 35%;
        height: 500px;
    }
    .white_card .form_subscribe .form_subscribe_text h1{
        font-weight: 500;
        font-size: 20px;
    }
    .white_card .form_subscribe .form_subscribe_text p{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    .white_card{
        width: 60%;
        height: 500px;
    }

    .white_card .form_subscribe .form_subscribe_text{
        height: 150px;
        gap: 25px;
    }
    .white_card .form_subscribe .form_subscribe_text h1{
        font-weight: 500;
        font-size: 20px;
    }
    .white_card .form_subscribe .form_subscribe_text p{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    .white_card{
        width: 80%;
        height: 500px;
    }
}